#container{
   display: flex;    
}
#container div{
   height: 100px;
   width: 200px;
   background-color: red;
   margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 20px;
   flex-wrap: wrap;
   color: white;
   border: 10px solid black;
   border-radius: 50%;
   
}
button{
    height: 30px;
    border: black solid 2px;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    color:white;
    background-color: blueviolet
}
#clock{
   font-size: xx-large;
   background-color: yellowgreen;
   height: 60px;
   width: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid 10px gold;
   border-radius: 15%;
   color: white;
}